<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uni Bremen Live Stream</title>
</head>
<body>
<noscript>This app requires the javascript runtime of your browser.</noscript>
<main>Loading ...</main>
</body>
</html>
